@model List<net_signalr.Models.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="tableSection">
    <table id="productTable" class="table table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price (₺)</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr id="Product@(item.ProductID)">
                    <td id="ProductName@(item.ProductID)"><a href="/show/@item.ProductID/">@item.ProductName</a> <span class="s up"></span></td>
                    <td id="Category@(item.ProductID)">@item.Category.CategoryName</td>
                    <td id="Price@(item.ProductID)"><span id="priceVal">@item.Price</span> (₺)</td>
                    <td id="Quantity@(item.ProductID)">@item.Quantity</td>
                    <td><button type="button" class="form-control btn-primary edit-product" data-target=".bs-example-modal-lg" data-toggle="modal" data-id="@item.ProductID">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div id="newProduct">
        <a class="insert-product" data-target=".bs-insert-modal-lg" data-toggle="modal">Add New Product</a>
    </div>
    <br/>
    <div id="notify" class="alert alert-success">
        <p>Updated value belongs to this ProductID = <span id="productId"></span></p>
    </div>
    <div id="user">
        Total users on this page <span id="userCount"></span>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="edit-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div id="edit-product-container" class="modal-content">

            </div>
        }
    </div>
</div>

<div class="modal fade bs-insert-modal-lg" id="insert-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabelinsert">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("InsertProduct", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div id="insert-product-container" class="modal-content">

            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        document.getElementById("notify").style.visibility = 'hidden';

        function ProductData() {
            this.ProductID;
            this.ProductName;
            this.Category;
            this.Price;
            this.Quantity;
        };

        var productHub = $.connection.productHub;
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () {
            console.log("hub.start.done");
        }).fail(function (error) {
            console.log(error);
        });

        productHub.client.showUserCount = function (data) {
            $('#userCount').html(data);
        };

        productHub.client.applyChanges = function (product) {
            document.getElementById("productId").innerHTML = product.ProductID;
            document.getElementById("ProductName" + product.ProductID + "").innerHTML = product.ProductName;
            document.getElementById("Category" + product.ProductID + "").innerHTML = product.Category;
            document.getElementById("priceVal").innerHTML = product.Price;
            document.getElementById("Quantity" + product.ProductID + "").innerHTML = product.Quantity;
            $("#Product" + product.ProductID).slideUp(200).css("background-color", "red").fadeIn(1000);
            document.getElementById("notify").style.visibility = 'visible';

            window.setTimeout(function () {
                $("#Product" + product.ProductID).hide().css("background-color", "").fadeIn(1000);
                document.getElementById("notify").style.visibility = 'hidden';
            }, 4000);
        };

        $(document).ready(function () {
            $('.edit-product').click(function () {
                var url = "/Home/GetProductDetail";
                var id = $(this).attr('data-id');
                $.get(url + '/' + id, function (data) {
                    $('#edit-product').modal('show');
                    $('#edit-product-container').html(data);
                });
            });

            $('.insert-product').click(function () {
                var url = "/Home/GetProductModal";
                $.get(url, function (data) {
                    $('#insert-product').modal('show');
                    $('#insert-product-container').html(data);
                });
            });
        });

        $(document).on('click', '.btnSubmitUpdate', function () {
            var self = $(this);
            var postData = self.closest('form').serializeArray();
            productHub.server.update(arrayToObject(postData)); // call server(producthub) update method when button submitted
            $.ajax({
                url: '/Home/UpdateProduct',
                type: 'POST',
                data: self.closest('form').serialize(),
                success: function (data) {
                    if (data.success == true) {
                        $('#edit-product').modal('hide');
                        location.reload(false);
                    } else {
                        $('#edit-product').html(data);
                    }
                }
            });
        });

        function arrayToObject(formArray) { // convert form arraya to object
            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnArray;
        }
    </script>
}
