@model net_signalr.Models.Product

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit details</h4>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.ProductID, new { id = "productId", name = "productId" })
    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.ProductName, new { id = "productName", @class = "form-control text-center" })
        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Category, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Category, new { id = "productCategory", @class = "form-control text-center" })
        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Price, new { id = "productPrice", @class = "form-control text-center" })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Quantity, new { id = "productQuantity", @class = "form-control text-center" })
        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    <button id="buttonEdit" type="submit" class="btn btn-primary btnSubmit">Save Changes</button>
</div>

@section scripts {
<script type="text/javascript">
    $(document).on('click', '#buttonEdit', function () {
        $('#edit-product').modal('hide');        
        //var $productId = $('#productId');
        //var $productName = $('#productName');
        //var $productCategory = $('#productCategory');
        //var $productPrice = $('#productPrice');
        //var $productQuantity = $('#productQuantity');

        //var product = { ProductID: $productId.val(), ProductName: $productName.val(), Category: $productCategory.val(), Price: $productPrice.val(), Quantity: $productQuantity.val() };
        
        //productHub.server.update(product);

        return false;
    });
    //$(function () {
        //var productHub = $.connection.productHub;
        
        //$.connection.hub.start().done(function () {
        //    $("#buttonEdit").click(function () {
        //        $('#edit-product').modal('hide');
        //        console.log("aaa: " + product);
        //        productHub.server.update(product);
        //    });
        //});
    //});
</script>
}